ion-content{ 
    --ion-background-color:black; 
    --ion-color: red;

}

ion-card{ 
    --ion-background-color:white; 
    --ion-border-color: #F00;

}

.cardnego{
    border-top: 3px solid red;
    background-color:white; 
}