<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin: 0 auto; width: 300px;">
    <img style="margin: 0 auto; width: 100px;" src="https://unidesarrollo.com.mx/img/logo.png">
    <ion-list>
      <ion-item><ion-label><ion-icon name="home"></ion-icon> Dirección:</ion-label><br/><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15281.53987841283!2d-93.164885!3d16.757512!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d896706568a5f53!2sUni%C3%B3n+de+Credito+Desarrollo+de+Chiapas!5e0!3m2!1ses-419!2smx!4v1544404627531" ></iframe></ion-item>
      <ion-item>Carretera Panamericana Km. 1080 #3391 Col. Terán C.P. 29050</ion-item>
      <ion-item><ion-label><ion-icon name="globe"></ion-icon> Sitio Web:</ion-label><a href="https://www.unidesarrollo.com.mx/" target="_blank">www.unidesarrollo.com.mx</a></ion-item>
      <ion-item><ion-label><ion-icon name="mail"></ion-icon> E-mail:</ion-label><a href="mailto:contactoucdc@gmail.com">contactoucdc@gmail.com</a></ion-item>
      <ion-item><ion-label><ion-icon name="call"></ion-icon> Local:</ion-label><ion-list><ion-item><a href="tel:6138224"> 961 61 3 82 24</a></ion-item><ion-item><a href="tel:6001835"> 961 60 0 18 35</a></ion-item><ion-item><a href="tel:6138263"> 961 61 3 82 63</a></ion-item><ion-item><a href="tel:6906702"> 961 69 06 702</a></ion-item></ion-list></ion-item>
      <ion-item><ion-label><ion-icon name="logo-whatsapp"></ion-icon> Crédito:</ion-label> <a target="_blank" href="https://api.whatsapp.com/send?phone=+529613552023&text=Buen%20d%C3%ADa,%20deseo%20informaci%C3%B3n%20sobre%20los%20cr%C3%A9ditos">961 35 5 20 23 </a></ion-item>
      <ion-item><ion-label><ion-icon name="logo-whatsapp"></ion-icon> Inversión:</ion-label> <a href="https://api.whatsapp.com/send?phone=+529613553142&text=Buen%20d%C3%ADa,%20deseo%20informaci%C3%B3n%20sobre%20las%20inversiones" target="_blank">961 35 5 31 42</a></ion-item>
      <ion-item><ion-label><ion-icon name="logo-whatsapp"></ion-icon> Mesa de Control:</ion-label> <a href="https://api.whatsapp.com/send?phone=+529614232749&text=Buen%20d%C3%ADa,%20deseo%20informaci%C3%B3n%20" target="_blank">961 42 3 27 49</a></ion-item>
      <ion-item><ion-label><ion-icon name="logo-whatsapp"></ion-icon> Secretaria:</ion-label> <a href="https://api.whatsapp.com/send?phone=+529614232759&text=Buen%20d%C3%ADa,%20deseo%20informaci%C3%B3n%20" target="_blank">961 42 3 27 59</a></ion-item>           
    </ion-list>
  </div>
</ion-content>
